services:
  postgres:
    image: postgres:18
    shm_size: 128mb
    ports:
      - "5432:5432"
    env_file: config/.env.development
    environment: {}
    volumes:
      - ims-pgdata:/var/lib/postgresql/18/docker

  minio:
    image: minio/minio:RELEASE.2025-04-22T22-12-26Z
    ports:
      - "9000:9000" # API Port
      - "9001:9001" # Console Port
    volumes:
      - ims-minio-data:/data
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    command: server /data --console-address ":9001"

  # SMTP Server for handling emails (Invites/Resets) - Needed for Step B
  smtp4dev:
    image: rnwood/smtp4dev:v3.10
    volumes:
      - ims-smtp4dev-data:/smtp4dev
    environment:
      - ServerOptions__Urls=http://*:80
      - ServerOptions__HostName=smtp4dev
    ports:
      - "5000:80"  # Web Interface
      - "2525:25"  # SMTP Port

volumes:
  ims-pgdata: {}
  ims-minio-data: {}
  ims-smtp4dev-data: {}
